<!-- Estrutura HTML -->
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>Tela 3</title>
    <link rel="stylesheet" type="text/css" href="../css/styleTela3.css">
</head>

<body>
    <h1>Alarm</h1>
    <div class="body-background">
        <div class="clock-container">
            <a href="index.html"> <!-- caminho para tela principal -->
                <img src="../assts/time_icon.png" alt="Clock Icon" class="clock-icon" />
            </a>
        </div>

        <a href="" class="new-alarm" onclick="redirectToNewAlarm()">New Alarm</a>
    </div>
</body>

</html>