<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="icon" type="image/x-icon" href="assets/images/despertador.png">
    <link rel="stylesheet" type="text/css" href="../css/styleTela1.css" media="screen" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>

<body>

    <div class="container-fluid h-100 background">
        <div class="container custom-container pt-4 px-0">
            <div class="row">
                <div class="col">
                    <p class="m-0 min-temp"></p>
                    <p class="m-0 max-temp"></p>
                    <p class="m-0 current-temp"></p>
                </div>
                <div class="col px-0 mb-4">
                    <div class="float-end">
                        <img src="../assts/chuva.png" alt="Sol">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col"></div>
                <div class="col config">
                    <div class="text-center time-margin">
                        <p class="d-flex relogio mb-0" id="current-time">12:30:30</p>
                    </div>
                    <div>
                        <p id="data-atual" class=" px-3 margin-negative font-size4"></p>
                    </div>
                </div>
                <div class="col"></div>
            </div>
            <div class="row">
                <div class="text-center font-size">
                    <div class="text-margin">
                        <p  id="mensagem" class="mensagem m-0 font-size3"></p>
                    </div>
                    <div>
                        <p class="font-size3"></p>
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col d-flex justify-content-center">
                    <button type="button" class="button">Desligar o alarme.</button>
                </div>
            </div>
            <div class="row mb-5">
                <div class="col d-flex justify-content-center">
                    <button type="button" class="button2">Adiar o alarme.</button>
                </div>
            </div>
            <div class="row">
                <div class="col d-flex justify-content-end">
                    <div class="float-end pe-2 config-margin">
                        <a href="/configPage"> 
                        <img src="../assts/configurações.png" alt="Config" height="150%">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        let diaAtual = new Date().getDate();

        function fetchCurrentTime() {
            fetch('/horaCerta')
                .then(response => response.json())
                .then(data => {
                    if (data.horaCerta == "00:00:00") {
                        fetchDate()
                    }
                    document.getElementById('current-time').textContent = data.horaCerta;
                })
                .catch(error => console.error('Erro ao buscar a hora atual:', error));
 
        }

        function getClima() {
            fetch('/clima?cidade=Blumenau')
                .then(response => response.json())
                .then(data => {
                    document.querySelector('.current-temp').textContent = `Now: ${data.tempNow}°C`;
                })
                .catch(error => console.error('Erro ao buscar o clima:', error));
        }

        let ultimaHoraVerificada = null;

        function fetchDate() {
            const hoje = new Date();
            const diaHoje = hoje.getDate();

            fetch('/hoje')
                    .then(response => response.json())
                    .then(data => {
                        document.getElementById('data-atual').textContent = data.dataCerta;
                        diaAtual = diaHoje; // Atualiza o dia atual para o novo dia
                        console.log(data)
                    })
                    .catch(error => console.error('Erro ao buscar a data atual:', error));

            // Se mudou para um novo dia, busca a data formatada e atualiza a tela
            if (diaHoje !== diaAtual) {
                fetch('/hoje')
                    .then(response => response.json())
                    .then(data => {
                        document.getElementById('data-atual').textContent = data.dataCerta;
                        diaAtual = diaHoje; // Atualiza o dia atual para o novo dia
                        console.log(data)
                    })
                    .catch(error => console.error('Erro ao buscar a data atual:', error));
            }
        }

        function fetchMensagem() {
                fetch('/msn')
                    .then(response => response.json())
                    .then(data => {
                        const mensagemElement = document.getElementById('mensagem');
                        mensagemElement.textContent = data.mensagem.msn;
                    })
                    .catch(error => console.error('Erro ao buscar a mensagem:', error));
        }

        // Função que será chamada quando a página carregar
        function onLoad() {
            fetchCurrentTime(); // Chama a função de buscar a hora atual
            getClima(); // Chama a função de buscar o clima
            fetchDate(); // Chama a função para atualizar a data inicialmente
            fetchMensagem(); // Chama a função para buscar a mensagem inicialmente
          

        }
        // Atualiza a hora a cada segundo
        setInterval(fetchCurrentTime, 1000);

        // Chama a função getClima a cada 15 minutos
        setInterval(getClima, 900000); // 900000ms = 15 minutos

       // Verifica a mensagem a cada hora
       setInterval(fetchMensagem, 3600000); // 3600000ms = 1 hora

        // Atribuir a função onLoad ao carregar a janela
        window.onload = onLoad;
    </script>

</body>
</html>