/* Background */
html, body{
    height: 100%;
    margin: 0;
}

.row {
    margin-left: 0;
    margin-right: 0;
}

.background {
    background-color: var(--neutral5);
}

p {
    color: var(--neutral1);
}

.fonte-relogio {
    font-size: 10rem;
}
