    /* Background */
    
    html, body{
        height: 100%;
        margin: 0;
    }
    
    .row {
        margin-left: 0;
        margin-right: 0;
    }
    
    .background {
        background-color: #ffe0bf;
    }
    
    p {
        color: var(--neutral5);
    }
    
    .fonte-relogio {
        font-size: 10rem;
    }
    